.header{
    display: flex;
    width: 100%;
    height: 100px;
    

}
.logo{
    margin-left:10%;
    margin-top: 10px;

}
.navi{
    margin-top: 33px;
    margin-left: 50%;

}
.space{
    margin-left: 26px;
    margin-right: 26px;
   
}
#page{
    color: red;
}
.page_text{
    text-decoration: none;
}
.middle1{
    width: 100%;
    height: 478px;
}
.middle2{
    width: 780px;
    height: 166px;
    margin-top: 200px;
    margin-left: 130px;
    color: #090346;

}
.middle3{
background-color: #EBEBF0;
height: 400px;
}
.img_space1{
    height: 197px;
    width: 340px;
    margin-top: 130px;
}

.img_space{
    margin-left: 7%;
}
.footer{
    background-color:  #19126B;
    height: 161px;
    width: 100%;
}
.svg_photos{
    width: 220px;
    height: 60px;
    margin-left: 75px
}
.bottom1{
    margin-top: 53px;
}
.text2{
    margin-left: 70%;
    color: #FFFFFF;
}

.text_about_us{
    width: 780px;
    height: 140px;
    margin-top: 60px;
    margin-left: 140px;
    color: #19126B;
}


.about_photo{
    height: 478px;
    width: 100%;
}
.text_about{
    width: 100%;
    height: 516px;
    margin-left: 50px;
}
.text_about1{
    width: 80% ;
    height: 371px;
    margin-top:73px;
    margin-left: 7% ;
    display: flex;
    color: #090346;
}
.text_about_space{
    margin-left: 50px;
    
}
.contact_photo{
    width: 100%;
    height: 478px;
}
.contact_us{
    width: 780px;
    height: 92px;
    margin-top: 70px;
    margin-bottom: 70px;
    margin-left: 120px;
    color: #090346;
}
.contact_information{
    height: 546px;
    width: 100%;
    display: flex;

    background-color: #EBEBF0;
}
.map{
    width: 640px;
    height: 374px;
    margin-top: 78px;
    margin-left: 150px;
}
.information{
    height: 200px;
    width: 348px;
    margin-top: 78px;
    margin-left: 30px;
}
.color{
    color: #090346;
}
.decoration{
    text-decoration: none;
}